<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../ui-behaviors/component-behavior.html">
<link rel="import" href="../ui-behaviors/template-behavior.html">
<link rel="import" href="carousel-elements.html">
<link rel="import" href="../ui-behaviors/carousel.html">

<dom-module id="ui-carousel">
    <template>
        <carousel-navigation class="prev"></carousel-navigation>
        <carousel-navigation class="next"></carousel-navigation>
        <carousel-navigation class="indicators"></carousel-navigation>
        <carousel-inner-container>
            <carousel-items animation="[[animation]]">
                <content></content>
            </carousel-items>
        </carousel-inner-container>
    </template>
</dom-module>

<script>

    Polymer({

        is: 'ui-carousel',

        behaviors:[Elliptical.ComponentBehavior,Elliptical.TemplateBehavior,Elliptical.Behaviors.Carousel],

        properties: {
            prevNavSelector: {
                type:String,
                value:'carousel-navigation.prev'
            },
            nextNavSelector: {
                type:String,
                value:'carousel-navigation.next'
            },
            animation: {
                type:String,
                value:'slide'
            },
            initOnload:{
                type:Boolean,
                value:true
            },
            auto: {
                type:Boolean,
                value:false
            },
            autoInterval: {
                value:null
            },
            desktopFadeDuration: {
                value:1000
            },
            desktopDuration: {
                value:350
            },
            touchFadeDuration: {
                value:0
            },
            touchDuration: {
                value:350
            },
            duration: {
                value:350
            },
            easing: {
                type:String,
                value:'ease'
            },
            initInterval: {
                value:4000
            },
            hardwareAcceleration: {
                type:Boolean,
                value:false
            },
            slideDistance: {
                value:null
            },
            preload: {
                type:Boolean,
                value:true
            },
            templateSelector: {
                type:String,
                value:'[template]'
            },
            indicators: {
                type:Boolean,
                value:false
            },
            showOnLoad: {
                value:0
            },
            maxIntervals:{
                value:null
            },
            crossFade:{
                type:Boolean,
                value:true
            },
            scopeBind:{
                type:Boolean,
                value:false
            },
            renderDelay:{
                value:500
            },

            initOnVisibility:{
                type:Boolean,
                value:true
            }

        },

        ready:function(){
            this._assignLocalData();
            if(this.initOnload){
                //run init only if carousel is visible
                if(this._passVisibilityCheck()) this._initCarousel();
                else this._initVisibilityListener(); //otherwise run the visibility listener
            }
        }

    });

</script>