<link rel="import" href="../elliptical-utils/elliptical-utils.html">
<link rel="import" href="../elliptical-class/elliptical-class.html">
<link rel="import" href="../elliptical-service/elliptical-service.html">
<link rel="import" href="../elliptical-lodash/elliptical-lodash-function.html">
<link rel="import" href="../elliptical-location/elliptical-location.html">
<link rel="import" href="../async-import/async.html">
<link rel="import" href="../elliptical-http/elliptical-http.html">
<script src="dist/elliptical.soa.js"></script>
