
$animation-slide-horizontal-distance:100px;
$animation-slide-vertical-distance:200px;
$animation-slide-big-distance:2000px;
$animation-fade-horizontal-distance:20px;
$animation-fade-vertical-distance:20px;
$animation-fade-big-distance:2000px;